/* .container {
  display: flex;
} */

.col1 {
  min-width: 40vw;
  height: calc(100vh - 5.5rem);
  border-right: 2px dotted #333333a3;
  overflow: auto;
  padding-top: 5px;
  background-color: rgba(250, 235, 215, 0.43);
  position: fixed;
  top: 5.5rem;
  left: 0;
  z-index: 9999999;
  display: none;
}

.col2 {
  /* margin-left: 40vw; */
  min-width: 60vw;
  /* padding-top: 5px; */
  height: calc(100vh - 5.5rem);
  padding-left: 5px;
  background-color: rgba(250, 235, 215, 0.43) !important;
}
@media (min-width: 500px) {
  /* … */
  .col1 {
    min-width: 30vw;
    display: block;
  }
  .col2 {
    margin-left: 30vw;
    /* min-width: 60vw; */
  }
}
@media (min-width: 1000px) {
  /* … */
  .col1 {
    min-width: 20vw;
  }
  .col2 {
    margin-left: 20vw;

    /* min-width: 80vw; */
  }
}
