.navbar {
  color: #b3afaf;
}
.brand {
  color: #b3afaf;
  transition: all 0.5s ease;
}
.brand:hover {
  color: #b3afaf;
  transform: scale(1.1);
}
.brand::after {
  position: absolute;
  background-color: red;
  border: none;
  content: "";
  left: 50%;
  margin-left: -20%;
  bottom: -1px;
  width: 40%;
  height: 3px;
  transform: scale(0);
  transition: all 1s ease;
}
.brand:hover::after {
  transform: scale(1.1);
}

.offcanvas a {
  color: #fff;
  text-decoration: none;
  display: block;
  position: relative;
  text-align: center;
}
.offcanvas a:hover {
  transform: scale(1.1);
}
.offcanvas a::after {
  position: absolute;
  background-color: red;
  border: none;
  content: "";
  left: 50%;
  margin-left: -20%;
  bottom: -1px;
  width: 40%;
  height: 3px;
  transform: scale(0);
  transition: all 1s ease;
}
.offcanvas a:hover::after {
  transform: scale(1);
}

/* .header {
  position: fixed;
  z-index: 100;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: fit-content;
  height: 3.5rem;
  background-color: #333333a3;
}

.logo {
  color: white;

}

.searchInput {
  margin-right: 20px;
}

.inputGroup {
  border-radius: 5px;
  height: 1.5rem;
}

.inputGroup select {
  height: 1.5rem;
  background-color: green;
  color: white;
}

.inputGroup input {
  max-width: 30vw;
  height: 1.5rem;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
}

.icon {
  margin-right: 5px;
  color: #00000073;
}
.icon:first-child {
  margin-left: 5px;
}

.searchIcon {
  color: #000;
  background-color: #fff;
  height: 1.5rem;
  margin: 0;
  padding: 0;
  border: none;
}

.links {
  display: flex;

}

.widget a {
  text-decoration: none;
  color: #fff;
  font-size: 10px;
}

@media (min-width: 500px) {
 
  .widget a {
    font-size: 15px;
  }
} */
