* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #000;
  background-color: rgba(250, 235, 215, 0.43);
}

html {
  background-color: rgba(250, 235, 215, 0.43);
}

ul li {
  list-style: none;
  text-decoration: none;
}
a {
  text-decoration: none !important;
  color: inherit !important;
}
